<div class="breadcrumbs">
  <div class="container">
    <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
      <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
      <li class="active">Register Page</li>
    </ol>
  </div>
</div>
<!-- //breadcrumbs -->
<!-- register -->
<div class="register">
  <div class="container">
    <h2>Change Password</h2>
    <div class="login-form-grids">
      <input type="password" placeholder="Enter Current Password" required=" " name="pass" [(ngModel)]="curpass">
        <input type="password" placeholder="Enter new Password" required=" " name="pass" [(ngModel)]="newpass">
        <input type="password" placeholder="Password Confirmation" required="" name="cpass" [(ngModel)]="cnewpass" >
       
        <input type="submit" value="Change" name="s1" (click)="ons1click()">
      <br>{{msg}}
    </div>
    
  </div>
</div>

