
<div class="login">
    <div class="container">
    <div class="agile_top_brands_grids">
       
      <!-- <div  *ngFor="let x of allproducts | paginate: config" class="col-md-4 top_brand_left"> -->
        <div  *ngFor="let x of allproducts " class="col-md-4 top_brand_left">
        <div class="hover14 column">
          <div class="agile_top_brand_left_grid">
            <div class="agile_top_brand_left_grid1">
              <figure>
                <div class="snipcart-item block" >
                  <div class="snipcart-thumb" >
                    <a routerLink="/productdetails" [queryParams]="{pid:x._id}"><img title=" " alt="no img" src="uploads/{{x.ppic}}" height="200" />		
                    <p>{{x.pname}}</p></a>
                  </div>
                </div>
              </figure>
            </div>
          </div>
        </div>
  
      </div>
      <!-- <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls> -->
  
    </div>
  
      <div class="clearfix"> </div>
    {{msg}}
    </div>
      </div>