
<div class="login">
    <div class="container">
    <div class="agile_top_brands_grids">
       
      <!-- <div  *ngFor="let x of allproducts | paginate: config" class="col-md-4 top_brand_left"> -->
        <div  *ngFor="let x of allproducts " class="col-md-4 top_brand_left">
        <div class="hover14 column">
          <div class="agile_top_brand_left_grid">
            <div class="agile_top_brand_left_grid1">
              <figure>
                <div class="snipcart-item block" >
                  <div class="snipcart-thumb" >
                    <a routerLink="/productdetails" [queryParams]="{pid:x._id}"><img title=" " alt="no img" src="uploads/{{x.ppic}}" height="200" />		
                    <p>{{x.pname}}</p></a>
                    <p>{{x.pprice}}</p>
                    <p> {{x.pdiscount}}% discount</p>
                    <br>
                    <p align="left">
                        Update discount
                    </p>
                    <form align="middle">
                    <input type="text" class="form-conrol" placeholder="discount %" align="left" [(ngModel)]="discount"> <br>
                  <input type="submit" value="Add discount" nsme="addisc=scount" class="btn btn-primary" (click)="adddiscount(x._id)" ><br><br>
                </form>
                  </div>
                </div>
              </figure>
            </div>
          </div>
        </div>

      </div>
      <!-- <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls> -->

    </div>

      <div class="clearfix"> </div>
    {{msg}}
    </div>
      </div>