<div class="breadcrumbs">
  <div class="container">
    <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
      <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
      <li class="active">Register Page</li>
    </ol>
  </div>
</div>
<!-- //breadcrumbs -->
<!-- register -->
<div class="register">
  <div class="container">
    <h2>SearchUser</h2>
    <div class="login-form-grids">

        <input type="email" placeholder="Email Address" required=" " name="nm" [(ngModel)]="un" >
        <input type="submit" value="search" name="s1" (click)="ons1click()">
      <br>{{msg}}
    </div>
    {{name}}
    {{phone}}
    {{gender}}
 
  </div>
</div>

