

<div class="login">
    <div class="container">
    <div class="agile_top_brands_grids">
      <div class="col-md-4 top_brand_left">
          <div class="hover14 column">
            <div class="agile_top_brand_left_grid">
              <div class="agile_top_brand_left_grid1">
                <figure>
                  <div class="snipcart-item block" >
                    <div class="snipcart-thumb" >
                      
                        <a routerLink="/addresses" [queryParams]="{uname:uname}" ><img src="uploads/addresses.png" height=100px/><h4 style="text-align: center" >Your Addresses</h4> </a>
                    </div>
                  </div>
                </figure>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 top_brand_left">
            <div class="hover14 column">
              <div class="agile_top_brand_left_grid">
                <div class="agile_top_brand_left_grid1">
                  <figure>
                    <div class="snipcart-item block" >
                      <div class="snipcart-thumb" >
                          <a routerLink="/orderhistory" [queryParams]="{uname:uname}" ><img src="uploads/orders.png" height=100px /><h4  style="text-align: center" >Your Orders </h4> </a>
                      </div>
                    </div>
                  </figure>
                </div>
              </div>
            </div>
          </div>
      
          <div class="col-md-4 top_brand_left">
              <div class="hover14 column">
                <div class="agile_top_brand_left_grid">
                  <div class="agile_top_brand_left_grid1">
                    <figure>
                      <div class="snipcart-item block" >
                        <div class="snipcart-thumb" >
                            <a routerLink="/changepassword" ><img img src="uploads/changepassword.png" height=100px/><h4  style="text-align: center" >Change Password</h4> </a>

                        </div>
                      </div>
                    </figure>
                  </div>
                </div>
              </div>
            </div>
    
      
    </div>
      <div class="clearfix"> </div>
    {{msg}}
    </div>
      </div>

<!-- <td>

              </td>
              <td>

              </td></tr>
              <tr>
                <td>
              </td>
              <td>
                  <a routerLink="/savedpayment" ><h4  style="text-align: center" >Payment Options</h4> </a>
              </td> -->